{% extends "inc/base.j2" %}
{% block content %}

  <div>
    <h3>update dconfig multiline / {{ key }}</h3>
  </div>

  <form method="post">
    <textarea name="data" rows="10" cols="30">{{ dconfig[key] }}</textarea>
    <input type="submit" value="update">
  </form>

  {#  {{ simple_form(form, action="/update-dconfig-multiline/"+key, submit="update") }}#}

{% endblock %}
