{% extends "inc/base.j2" %}
{% block content %}
  <h3>system</h3>
  <div class="grid">
    <section>
      <table>
        <tr>
          <td>api</td>
          <td></td>
          <td><a href="#">view</a></td>
        </tr>
        <tr>
          <td>system config</td>
          <td></td>
          <td><a href="#">view</a></td>
        </tr>
        <tr>
          <td>system value</td>
          <td></td>
          <td><a href="#">view</a></td>
        </tr>
        <tr>
          <td>system log</td>
          <td>{{ stats.system_log }}</td>
          <td><a href="/system/system-logs">view</a></td>
        </tr>
        <tr>
          <td>logfile</td>
          <td>{{ stats.logfile | filesizeformat }}</td>
          <td>
            <nav>
              <ul>
                <li><a href="/api/system/logfile">view</a></li>
                <li><a href="/api-delete/system/logfile" {{ confirm }}>clean</a></li>
              </ul>
            </nav>
          </td>
        </tr>
      </table>
    </section>
    <section>
      <table>
        <caption>db / {{ stats.db | length }}</caption>
        {% for k,v in stats.db.items() %}
          <tr>
            <td>{{ k }}</td>
            <td>{{ v }}</td>
          </tr>
        {% endfor %}
      </table>
    </section>
  </div>

{% endblock %}
