{% extends "inc/base.j2" %}
{% block content %}
  <div>

    <nav>
      <ul>
        <li><h3>dconfig</h3></li>
        <li><a href="/system/dconfig/toml">update</a></li>
        <li><a href="/api/system/dconfig/toml">view</a></li>
      </ul>

    </nav>
  </div>

  <form method="post">
    <table>
      <tr>
        <th>key</th>
        <th>type</th>
        <th>value</th>
      </tr>
      {% for key, value in dconfig.items() %}
        {% if key not in hidden %}
          <tr>
            <td>{{ key }}</td>
            <td>{{ types[key].value }}</td>
            <td>
              {% if types[key].value == "BOOLEAN" %}
                <input type="checkbox" name="{{ key }}" {{ "checked" if value }} value="true">
              {% elif types[key].value =="MULTILINE" %}
                length: {{ dconfig[key] | length }} /
                <a href="/system/dconfig/multiline/{{ key }}">update</a>
              {% else %}
                <input name="{{ key }}" value="{{ value }}">
              {% endif %}
            </td>
          </tr>
        {% endif %}
      {% endfor %}
    </table>
    <input type="submit" value="Save">
  </form>
{% endblock %}
