{% extends "inc/base.j2" %}
{% block content %}
  <div>
    <h3>test</h3>
  </div>

  <ul>
    <li><a href="/test-result-ok">test Result/OK</a></li>
    <li><a href="/test-result-err">test Result/Err</a></li>
  </ul>
{% endblock %}
